The purpose of this notebook is to demonstrate how to import csv files into a MySQL database table. I can either create a new database table from the csv file or simply import it into a new or existing schema in MySQL. The correct SQL in order to create a table from the 'Bike Sales.csv' file is:

In [ ]:
CREATE TABLE bike_sales
(
'date' DATE,
Day INT,
Month TEXT,
Year INT,
Customer_Age INT,
Age_Group TEXT,
Customer_Gender TEXT,
Country TEXT,
State TEXT,
Product_Category TEXT,
Sub_Category TEXT,
Product TEXT,
Order_Quantity INT,
Unit_Cost INT,
Unit_Price INT,
Profit INT,
Cost INT,
Revenue INT)

00 sec
)

In [ ]:
import json