## Running SQL in Jupyter Notebooks

May want to do a quick analysis from a database without having to set up a Pandas DataFrame. This is especially useful when you have to join one or more tables.

In [1]:
# import libraries
import pandas as pd
import sqlite3

In [2]:
# install the ipython-sql library
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\lynst\anaconda3\lib\site-packages (0.3.9)
Requirement already satisfied: six in c:\users\lynst\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in c:\users\lynst\anaconda3\lib\site-packages (from ipython-sql) (3.5.0)
Requirement already satisfied: ipython>=1.0 in c:\users\lynst\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: sqlparse in c:\users\lynst\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\lynst\anaconda3\lib\site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\lynst\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: backcall in c:\users\lynst\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\lynst\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lynst\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: traitlets>=5 in c:\users\lynst\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: stack-data in c:\users\lynst\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\lynst\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\lynst\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\lynst\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.36)
Requirement already satisfied: colorama in c:\users\lynst\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: pickleshare in c:\users\lynst\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lynst\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.1)
Requirement already satisfied: wcwidth in c:\users\lynst\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lynst\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\lynst\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\lynst\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\lynst\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [3]:
# create a dataframe to import data for the tutorial
df= pd.DataFrame({'name': ['Juan','Victoria','Mary'], 
                  'age': [23,34,43], 
                  'city': ['Miami','Buenos Aires','Santiago']})

df

       name  age          city
0      Juan   23         Miami
1  Victoria   34  Buenos Aires
2      Mary   43      Santiago

The connection command will create a database. You can always use an existing database which you have stored but in this case we are creating a new one.

In [4]:
# use sqlite3 to create a connection
cnn = sqlite3.connect('jupyter_sql_tutorial.db')

We are only using two arguments for this function; the first one 'people' is the name of the table that we'll be creating. The second argument is the cnn, or connection variable created in the previous cell. 

Now we will run jupyter inline magic to load the SQL module. A single % sign represents inline magic, or line magic. %% represents cell magic.

In [5]:
df.to_sql('people', cnn)
%load_ext sql

Next we want to point the jupyter sql library to the database we want to use.

In [6]:
%sql sqlite:///jupyter_sql_tutorial.db

'Connected: @jupyter_sql_tutorial.db'

Now we are pretty much ready to run our queries.

In [7]:
%%sql
SELECT *
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 'Juan', 23, 'Miami'),
 (1, 'Victoria', 34, 'Buenos Aires'),
 (2, 'Mary', 43, 'Santiago')]

In [8]:
%%sql
SELECT count(*)
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(3,)]

In [9]:
%%sql
SELECT sum(age) as 'age_sum'
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(100,)]