In [ ]:
#%pip install pyspark

In [ ]:
import pyspark

In [ ]:
import pandas as pd
pd.read_csv('test1.csv')

In [ ]:
type(pd.read_csv('test1.csv'))

In [ ]:
from pyspark.sql import SparkSession

This starts the spark session and enables us to run it in a single-node cluster called the 'Master' node, or host.

In [ ]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('test1.csv')

In [ ]:
df_pyspark.show()

In [ ]:
spark.read.option('header','true').csv('test1.csv')

In [ ]:
spark.read.option('header','true').csv('test1.csv').show()

In [ ]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [ ]:
type(df_pyspark)

In [ ]:
df_pyspark.printSchema()

This is a SQL dataframe, similar to a Pandas dataframe (if you want to convert to a Pandas dataframe simply apply the .toPandas() method). Let's check to see if we can read the first few rows?

In [ ]:
df_pyspark.head(3)

In [ ]:
df_pyspark.show()

The 'select( )' method must be used to identify a column name to show.

In [ ]:
df_pyspark.select('Name')

In [ ]:
df_pyspark.select('Name').show()

In [ ]:
type(df_pyspark.select('Name'))

Selecting more than one column to reveal the row entries.

In [ ]:
df_pyspark.select(['Name','Experience']).show()

In [ ]:
df_pyspark['Name']

In [ ]:
df_pyspark.dtypes

In [ ]:
df_pyspark.describe()

In [ ]:
df_pyspark.describe().show()

Obviously no numeric values can be used for the string 'Name' variable. The min and max values for the 'Name' variable have been determined by the index number values which happen to be lowest for Krish and highest for Sunny.

## Adding a Column

In [ ]:
df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience']+2)

In order for this 'withColumn' method to be reflected it must be assigned to a variable:

In [ ]:
df_pyspark = df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience']+2)

In [ ]:
df_pyspark

In [ ]:
df_pyspark.show()

## Dropping Columns

In [ ]:
df_pyspark.drop('Experience After 2 Years').show()

Once again, assign this method to a variable, so in order to see that the column has been dropped assign it to the df_pyspark variable once again:

In [ ]:
df_pyspark = df_pyspark.drop('Experience After 2 Years')
df_pyspark.show()

## Re-naming a Column

In [ ]:
df_pyspark.withColumnRenamed('Name', 'New Name').show()

## PySpark Handling Missing Values
1. Dropping Columns
2. Dropping Rows
3. Various Parameter in Dropping Functionalities
4. Handling Missing Values by Mean, Median and Mode

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark.read.csv('test2.csv', header=True, inferSchema=True)

To see the entire dataset.

In [ ]:
spark.read.csv('test2.csv', header=True, inferSchema=True).show()

Save the dataset as a dataframe variable.

In [ ]:
df_pyspark = spark.read.csv('test2.csv', header=True, inferSchema=True)

This could also be achieved by applying the .toDF() method to the spark dataset, then assigning it to the 'df_pyspark' variable.

In [ ]:
df_pyspark.show()

In [ ]:
type(df_pyspark)

In [ ]:
df_pyspark.printSchema()

## Dropping the Columns (Again)

In [ ]:
df_pyspark.drop('Name').show()

To reset the dataframe simply use the show( ) method again. The 'Name' column will only be dropped permanently if the value of the expression is assigned. It could be assigned once again to 'df_pyspark', or to a completely different variable name such as 'df', or perhaps something more easily remembered like 'no_name' but the important point to remember is that until the expression is assigned it will not be stored in local memory!!!

In [ ]:
df_pyspark.show()

## Dropping Specific Rows

This will drop any rows with Null values.

In [ ]:
df_pyspark.na.drop().show()

### Drop Function

Looking at the arguments in the drop( ) function we have: 'how', 'thresh' and 'subset'. I can view these simply by placing the cursor at the function parentheses and typing Shift-Tab. This will show a little drop down comment bubble explaining configuration options for each function argument. (Actually, it's also important to note that key-value args always follow positional args in the order).

Hitting the '+' icon in the top right of the dropdown bubble expands the explanation options.

In [ ]:
# how argument
df_pyspark.na.drop(how='any').show()

In this example dataset the drop( ) method has removed 'any' instance which contains a value of null. If we set the 'how' arg to 'all', then it would only remove an instance or row in the dataset if all values were null within that instance or row. See below...

In [ ]:
# how argument set to 'all'
df_pyspark.na.drop(how='all').show()

So the how argument doesn't remove any of the instances this time!

In [ ]:
# thresh
df_pyspark.na.drop(thresh=2).show()

The 'threshold' argument means that the row or instance will only be dropped if there are more non-null values than the threshold specified! If set to two then there must be at least 3 non-null values in the row before it's dropped.

In [ ]:
# subset
df_pyspark.na.drop(how='any', subset=['Experience']).show()

Only those null values which appear in the Experience column will have their rows dropped. This is a form of dataset slicing in PySpark.

In [ ]:
df_pyspark.show()

## Filling Missing Values

In [ ]:
df_pyspark.na.fill('Missing Values').show()

This doesn't seem to be working! Why not? The fill method only appears to be changing the values in one column, the 'Name' column. It should be changing the null values in all columns. 

According to the PySpark documentation there are two main arguments to address which are the positional replacement 'value' (a string, number, or simply " ") for the Null items in your dataset and the 'subset' key-value argument which can be set to None, or a list [], or tuple () of 'column_name' values. It can represent only one column's values, or several column values if desired.

In [ ]:
df_pyspark.na.fill(value='Missing', subset=None).show()

In [ ]:
df_pyspark.na.fill(value='Missing', subset=['Name','Age','Experience','Salary']).show()

Try setting fill(value=0) for all null values.

In [ ]:
df_pyspark.na.fill(value=0).show()

This hasn't worked either which tells me the problem lies in the different datatypes associated with each attribute or column. The 'Name' column is the only type which is a String. All the other columns are Integer, so this is preventing the operation from occurring.

In [ ]:
df_pyspark = df_pyspark.na.fill("").show()

Storing the na.fill( ) method in a variable doesn't seem to work either.

In [ ]:
# Read the CSV file using PySpark
df_pyspark = spark.read.csv('test2.csv', header=True, inferSchema=True)

# Cast integer columns to string data type
df_pyspark = df_pyspark.withColumn('Age', df_pyspark['Age'].cast('string'))
df_pyspark = df_pyspark.withColumn('Experience', df_pyspark['Experience'].cast('string'))
df_pyspark = df_pyspark.withColumn('Salary', df_pyspark['Salary'].cast('string'))

# Replace all null values with 'Missing Value'
df_pyspark = df_pyspark.fillna('Missing Value')

# Display the updated DataFrame
df_pyspark.show()

In [ ]:
df_pyspark.na.fill('Missing Value', ['Experience','Age']).show()

In [ ]:
df_pyspark.show()

Replace the Null values with the mean values for a particular column or for each column. This involves imputing the mean values. In this example I will replace the Null values in the 'Experience' column only.

In [ ]:
# Cast string columns to integer data type
df_pyspark = df_pyspark.withColumn('Age', df_pyspark['Age'].cast('integer'))
df_pyspark = df_pyspark.withColumn('Experience', df_pyspark['Experience'].cast('integer'))
df_pyspark = df_pyspark.withColumn('Salary', df_pyspark['Salary'].cast('integer'))

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]).setStrategy("mean")

In [ ]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

The same can be done with median values also. Note, the imputed values are created in entirely new columns with the average values.

In [ ]:
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]).setStrategy("median")

# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

## PySpark DataFrames
1. Filter Operations
2. &, |, == (And, Or, Equals)
3. ~ (Not)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [ ]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

There are a number of filters which can be applied using Pandas dataframes also.

## Filter Operations

In [ ]:
# salary of people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

In [ ]:
df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

In [ ]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

### The AND operand
An important point to note here is that the comparison statements which are being evaluated, must be contained within parentheses (brackets).

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>=18000)).show()

### The OR operand

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | (df_pyspark['Salary']>=15000)).show()

### The NOT operand

In [ ]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

## PySpark GroupBy and Aggregate Functions

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('test3.csv', header=True, inferSchema=True)

In [ ]:
df_pyspark.show()

In [ ]:
df_pyspark.printSchema()

So 'Name' is a string, 'Departments' is a string and 'Salary' is an integer data type.

### Groupby
#### Grouped to Find the Maximum Salary
Finding the mean salary group by Name.

In [ ]:
df_pyspark.groupBy('Name')

GroupBy and Aggregate functions work together, so once groupBy( ) is applied, then an agg( ) function can follow.

In [ ]:
df_pyspark.groupBy('Name').sum()

This time a SQL dataframe is returned.

Let's show this dataframe.

In [ ]:
df_pyspark.groupBy('Name').sum().show()

Press dot or period and tab...this will provide a whole list of possible functions.

In [ ]:
df_pyspark.groupBy('Departments').sum().show()

In [ ]:
df_pyspark.groupBy('Departments').mean().show()

In [ ]:
df_pyspark.groupBy('Departments').count().show()

Try applying a direct aggregate function

In [ ]:
df_pyspark.agg({'Salary':'sum'}).show()

In [ ]:
df_pyspark.groupBy('Name').max().show()

And also, to see the minimum value with respect to Name:

In [ ]:
df_pyspark.groupBy('Name').min().show()

In [ ]:
df_pyspark.groupBy('Name').avg().show()

## Machine Learning with DataFrame API and RDD API's
### Examples of PySpark ML
Using a Linear Regression example.

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Missing').getOrCreate()

In [ ]:
# read the dataset
training = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [ ]:
training.show()

In [ ]:
training.printSchema()

In [ ]:
training.columns

In sklearn we have a dataset which we would perform a train-test split on, providing us with independent and dependent variables. In PySpark it's slightly different.

['Age','Experience'] ----> New Feature ----> Independent Feature

Grouping the independent variable features together is performed using the 'VectorAssembler' module.

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=["Age", "Experience"], outputCol="Independent Features")

In [ ]:
output = featureassembler.transform(training)

In [ ]:
output.show()

Note the 'Independent Features' column has 2 values in each row listing Age and Experience. This is a type of feature engineering.

In [ ]:
output.columns

In [ ]:
finalized_data = output.select("Independent Features","Salary")

In [ ]:
finalized_data.show()

In [ ]:
from pyspark.ml.regression import LinearRegression

# train test split
train_data, test_data = finalized_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol="Independent Features", labelCol="Salary")
regressor = regressor.fit(train_data)

In [ ]:
# Coefficients
regressor.coefficients

In [ ]:
# Intercepts
regressor.intercept

In [ ]:
# Prediction
pred_results = regressor.evaluate(test_data)

In [ ]:
pred_results.predictions.show()

In [ ]:
pred_results.meanAbsoluteError, pred_results.meanSquaredError

## Multi-Linear Regression Problem
Follow these steps in Databricks:
1. Create a cluster in the 'Clusters' option, or the 'Compute' option in the left-hand menu. Create a name for the cluster, select databricks runtime version (perhaps the latest), driver type or availability zone if required, then click 'Create Cluster'.
2. You can choose 'Libraries' from the tabs at the top, select 'Install' and choose from a variety of libraries like PyPi (Python) or Maven (Java).
3. Once the cluster is up and running go to the Home icon, top left.
4. Create a blank notebook and call it Linear Regression for this example.
5. There are several features included in the independent values. In Databricks, you can start on the Databricks icon top left then click on 'Import & Explore Data' in the middle. Or alternatively, go to the 'Data' icon on the left menu and select the 'tips.csv' file and upload it. You'll be presented with a choice of 'Create Table with UI' or 'Create Table in Notebook'. The file will be uploaded into the 'DBFS' file system which is one of the tabs at the top. The file path will look something like: '/FileStore/tables/tips.csv'.
6. The notebook should appear as follows:

## Overview
This notebook will show you how to create and query a table or DataFrame that you uploaded to DBFS. DBFS is a Databricks File System that allows you to store data for querying inside of Databricks. This notebook assumes that you have a file already inside of DBFS that you would like to read from.

This notebook is written in Python so the default cell type is Python. However, you can use different languages by using the %LANGUAGE syntax. Python, Scala, SQL, and R are all supported.

In [ ]:
# File location and type
file_location = "/FileStore/tables/tips.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "false"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.csv(file_location, header=True, inferSchema=True)
df.show()

# Or alternatively
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

In [ ]:
df.printSchema()

In [ ]:
# Create a view or table

temp_table_name = "tips_csv"

df.createOrReplaceTempView(temp_table_name)

In [ ]:
spark.stop()