In [ ]:
#%pip install pyspark

In [ ]:
import pyspark

In [ ]:
import pandas as pd
pd.read_csv('test1.csv')

In [ ]:
type(pd.read_csv('test1.csv'))

In [ ]:
from pyspark.sql import SparkSession

This starts the spark session and enables us to run it in a single-node cluster called the 'Master' node, or host.

In [ ]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('test1.csv')

In [ ]:
df_pyspark.show()

In [ ]:
spark.read.option('header','true').csv('test1.csv')

In [ ]:
spark.read.option('header','true').csv('test1.csv').show()

In [ ]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [ ]:
type(df_pyspark)

In [ ]:
df_pyspark.printSchema()

This is a SQL dataframe, similar to a Pandas dataframe (if you want to convert to a Pandas dataframe simply apply the .toPandas() method). Let's check to see if we can read the first few rows?

In [ ]:
df_pyspark.head(3)

In [ ]:
df_pyspark.show()

The 'select()' method must be used to identify a column name to show.

In [ ]:
df_pyspark.select('Name')

In [ ]:
df_pyspark.select('Name').show()

In [ ]:
type(df_pyspark.select('Name'))

Selecting more than one column to reveal the row entries.

In [ ]:
df_pyspark.select(['Name','Experience']).show()

In [ ]:
df_pyspark['Name']

In [ ]:
df_pyspark.dtypes

In [ ]:
df_pyspark.describe()

In [ ]:
df_pyspark.describe().show()

Obviously no numeric values can be used for the string 'Name' variable. The min and max values for the 'Name' variable have been determined by the index number values which happen to be lowest for Krish and highest for Sunny.

## Adding a Column

In [ ]:
df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience']+2)

In order for this 'withColumn' method to be reflected it must be assigned to a variable:

In [ ]:
df_pyspark = df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience']+2)

In [ ]:
df_pyspark

In [ ]:
df_pyspark.show()

## Dropping Columns

In [ ]:
df_pyspark.drop('Experience After 2 Years').show()

Once again, assign this method to a variable, so in order to see that the column has been dropped assign it to the df_pyspark variable once again:

In [ ]:
df_pyspark = df_pyspark.drop('Experience After 2 Years')
df_pyspark.show()

## Re-naming a Column

In [ ]:
df_pyspark.withColumnRenamed('Name', 'New Name').show()

## PySpark Handling Missing Values
1. Dropping Columns
2. Dropping Rows
3. Various Parameter in Dropping Functionalities
4. Handling Missing Values by Mean, Median and Mode

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark.read.csv('test2.csv', header=True, inferSchema=True)

To see the entire dataset.

In [ ]:
spark.read.csv('test2.csv', header=True, inferSchema=True).show()

Save the dataset as a dataframe variable.

In [ ]:
df_pyspark = spark.read.csv('test2.csv', header=True, inferSchema=True)

This could also be achieved by applying the .toDF() method to the spark dataset, then assigning it to the 'df_pyspark' variable.

In [ ]:
df_pyspark.show()

In [ ]:
type(df_pyspark)

In [ ]:
df_pyspark.printSchema()

## Dropping the Columns (Again)

In [ ]:
df_pyspark.drop('Name').show()

To reset the dataframe simply use the show() method again. The 'Name' column will only be dropped permanently if the value of the expression is assigned. It could be assigned once again to 'df_pyspark', or to a completely different variable name such as 'df', or perhaps something more easily remembered like 'no_name' but the important point to remember is that until the expression is assigned it will not be stored in local memory!!!

In [ ]:
df_pyspark.show()

## Dropping Specific Rows

This will drop any rows with Null values.

In [ ]:
df_pyspark.na.drop().show()

### Drop Function

Looking at the arguments in the drop( ) function we have: 'how', 'thresh' and 'subset'. I can view these simply by placing the cursor at the function parentheses and typing Shift-Tab. This will show a little drop down comment bubble explaining configuration options for each function argument. (Actually, it's also important to note that key-value args always follow positional args in the order).

Hitting the '+' icon in the top right of the dropdown bubble expands the explanation options.

In [ ]:
# how argument
df_pyspark.na.drop(how='any').show()

In this example dataset the drop() method has removed 'any' instance which contains a value of null. If we set the 'how' arg to 'all', then it would only remove an instance or row in the dataset if all values were null within that instance or row. See below...

In [ ]:
# how argument set to 'all'
df_pyspark.na.drop(how='all').show()

So the how argument doesn't remove any of the instances this time!

In [ ]:
# thresh
df_pyspark.na.drop(thresh=2).show()

The 'threshold' argument means that the row or instance will only be dropped if there are more non-null values than the threshold specified! If set to two then there must be at least 3 non-null values in the row before it's dropped.

In [ ]:
# subset
df_pyspark.na.drop(how='any', subset=['Experience']).show()

Only those null values which appear in the Experience column will have their rows dropped. This is a form of dataset slicing in PySpark.

In [ ]:
df_pyspark.show()

## Filling Missing Values

In [ ]:
df_pyspark.na.fill('Missing').show()

This doesn't seem to be working! Why not? The fill method only appears to be changing the values in one column, the 'Name' column. It should be changing the null values in all columns. 

According to the PySpark documentation there are two main arguments to address which are the positional replacement 'value' (a string, number, or simply " ") for the Null items in your dataset and the 'subset' key-value argument which can be set to None, or a list [], or tuple () of 'column_name' values. It can represent only one column's values, or several column values if desired.

In [ ]:
df_pyspark = df_pyspark.na.fill('Missing', subset=None).show()

Try setting fill(value=0).

In [ ]:
df_pyspark = df_pyspark.na.fill(value=0).show()

This hasn't worked either which tells me the problem lies in the different datatypes associated with each attribute or column. The 'Name' column is the only type which is a String. All the other columns are Integer, so this is preventing the operation from occurring.

In [ ]:
df_pyspark = df_pyspark.na.fill("").show()

In [ ]:
spark.stop()