In [1]:
#!pip install pyspark

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('test1.csv')

       Name  Age
0     Krish   31
1  Sudhansh   30
2     Sunny   29

In [4]:
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [5]:
from pyspark.sql import SparkSession

This starts the spark session and enables us to run it in a single-node cluster called the 'Master' node, or host.

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('test1.csv')

In [9]:
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [10]:
spark.read.option('header','true').csv('test1.csv')

DataFrame[Name: string, Age: string]

In [11]:
spark.read.option('header','true').csv('test1.csv').show()

+--------+---+
|    Name|Age|
+--------+---+
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [12]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

This is a SQL dataframe, similar to a Pandas dataframe. Let's check to see if we can read the first few rows?

In [14]:
df_pyspark.head(3)

[Row(Name='Krish', Age='31'),
 Row(Name='Sudhansh', Age='30'),
 Row(Name='Sunny', Age='29')]

In [15]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [16]:
spark.stop()