# SQLite Connection

In [ ]:
from sqlalchemy import create_engine
import sqlite3

engine = create_engine("sqlite:///nyc_cencus_tracts.sqlite")

Supply the connections string with the details needed to connect to a db.

In [ ]:
# use the connect() method on the engine
connection = engine.connect("nyc_cencus_tracts.db")

The connect() method won't work until we give it some work to execute. An engine is the common interface to the database which requires a connection string to provide the details used to find and connect to the db.

The connection string (above) tells us what type of db to connect to and how to access it. In this example we're using the sqlite db driver and the db file.

"sqlite:///cencus_nyc.sqlite"

sqlite: driver + dialect

cencus_nyc.sqlite: db file

Start again by importing the create_engine() function. 

Finally, we can use the table() methods on the engine to return a list of tables:

In [ ]:
print(engine.table_names())

Once we know what table to work on we need to access that table with python. Using 'Reflection' which reads the db and builds a table object that we can use in our code.

Begin importing our Metadata and Table objects for Reflection.

Metadata object: catalogue that stores db info such as tables so we don't have to keep looking for them.

In [ ]:
from sqlalchemy import Metadata, Table, Integer, String

# to reflect the table we initialize the Metadata object
metadata_obj = MetaData()

In [ ]:
user = Table(
    "user",
    metadata_obj,
    Column("CencusTract", Integer, primary_key=True),
    Column("County", String(16), nullable=False),
    Column("Borough", String(60)),
    Column("TotalPop", Integer, nullable=False),
    Column("Men", Integer, nullable=False),
    Column("Women", Integer, nullable=False),
    Column("Hispanic", Float, nullable=False),
    Column("White", Float, nullable=False),
    Column("White", Float, nullable=False),
    Column("Black", Float, nullable=False),
    Column("Native", Float, nullable=False),
    Column("Asian", Float, nullable=False),
    Column("Citizen", Integer, nullable=False),
    Column("Income", Integer, nullable=False),
    Column("IncomeErr", Integer, nullable=False),
    Column("IncomePerCap", Integer, nullable=False),
    Column("IncomePerCapErr", Integer, nullable=False),
    Column("Poverty", Float, nullable=False),
    Column("ChildPoverty", Float, nullable=False),
    Column("Professional", Float, nullable=False),
    Column("Service", Float, nullable=False),
    Column("Office", Float, nullable=False),
    Column("Construction", Float, nullable=False),
    Column("Production", Float, nullable=False),
    Column("Drive", Float, nullable=False),
    Column("Carpool", Float, nullable=False),
    Column("Transit", Float, nullable=False),
    Column("Walk", Float, nullable=False),
    Column("OtherTransp", Float, nullable=False),
    Column("WorkAtHome", Float, nullable=False),
    Column("MeanCommute", Float, nullable=False),
    Column("Employed", Integer, nullable=False),
    Column("PrivateWork", Float, nullable=False),
    Column("PublicWork", Float, nullable=False),
    Column("SelfEmployed", Float, nullable=False),
    Column("FamilyWork", Float, nullable=False),
    Column("Unemployment", Float, nullable=False),
)

In [ ]:
# next we use the sqlalchemy table object and provide the table name we got earlier from the Table() names method
cencus = Table("cencus", metadata, autoload=True, autoload_with="engine")

We also supply our metadata instance and an instruction to autoload the table using the engine.

Finally we can use the repr() function to view the details of our table that we stored as "cencus".

In [ ]:
print(repr(cencus))

This allows us to see the names of the columns along with their types. It makes the process far easier downstream.

## Alternative (Easy) Way

In [ ]:
# libraries should be imported first
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
# creating SQL Alchemy engine object
engine = create_engine("postgresql://postgress:youtube@localhost:5432/eSports.val")

postgresql: pass in your sql server type

postgress: db user name

youtube@localhost: 5432/eSports.val - password, host and db file also

In [ ]:
# initializing connection to database
conn = engine.connect()

# create a variable that stores your engine query as a string and create a SQL query as a string to pass into pd.read_sql()
sql = "SELECT * FROM players"

# create a dataframe using a sql statement and db connection
df = pd.read_sql_query(sql, conn)