In [7]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS books(
    id integer PRIMARY KEY,
    title text NOT NULL,
    author text NOT NULL,
    price real);''')

# go to https://sqlitebrowser.org/
# https://docs.python.org/3/library/sqlite3.html

db.commit()
db.close()

In [8]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

cur.execute('''INSERT INTO books(id, title, author, price)
    VALUES('1','Untold Stories','Alan Bennett','17.49');''')

db.commit()
db.close()

In [9]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

# placing more than one entry into our database
book_list = [('2', 'Lucky Jim', 'Kingsley Amis', '4.99'),
             ('3', 'Animal Farm', 'George Orwell', '7.49'),
             ('4', 'Why I Am So Clever', 'Friedrich Nietzsch', '10.99'),
             ('5', 'Life 3.0: Being Human in the Age of Artificial Intelligence', 'Max Tegmark', '20.00')
            ]

cur.executemany('''INSERT INTO books(id, title, author, price)
    VALUES(?,?,?,?)''', book_list)

db.commit()
db.close()

You may need to delete the 'books.db' and start running all these cells from the beginning to get to this point. If you open SQLite and go to 'File -> Open Database', selecting 'books.db' then you should be able to see a table. If not, hit Refresh and you should see it.

It's safe practice to delete the 'book.db' after each cell is run!

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

# placing more than one entry into our database
book_list = [('2', 'Lucky Jim', 'Kingsley Amis', '4.99'),
             ('3', 'Animal Farm', 'George Orwell', '7.49'),
             ('4', 'Why I Am So Clever', 'Friedrich Nietzsch', '10.99'),
             ('5', 'Life 3.0: Being Human in the Age of Artificial Intelligence', 'Max Tegmark', '20.00')
            ]

cur.execute('SELECT * FROM books')
print(cur.fetchall())

db.commit()
db.close()

To return a list of the books in alphabetical order:

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

# placing more than one entry into our database
book_list = [('2', 'Lucky Jim', 'Kingsley Amis', '4.99'),
             ('3', 'Animal Farm', 'George Orwell', '7.49'),
             ('4', 'Why I Am So Clever', 'Friedrich Nietzsch', '10.99'),
             ('5', 'Life 3.0: Being Human in the Age of Artificial Intelligence', 'Max Tegmark', '20.00')
            ]

cur.execute('SELECT * FROM books ORDER BY title')
print(cur.fetchall())

db.commit()
db.close()

To return only a subset of those books which have a Price greater than 10.00

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

cur.execute('SELECT * FROM books WHERE price > 10')

print('**********')
for x in cur.fetchall():
    print(x)
    
db.commit()
db.close()

Select and return only one particular Column.

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

cur.execute('SELECT author FROM books')
print(cur.fetchall())

db.commit()
db.close()