In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

SQLite also allows you to create a database in memory. The software program won't save the database which disappears once you've finished with it.

conn = sqlite3.connect(':memory:')          # an example of an in-memory connection

## Create a Cursor
This tells the database what you want to do. Whenever you do anything you're going to get the cursor to do it!

In [ ]:
# create a cursor
c = conn.cursor()

## Create a Table

In [ ]:
c.execute(""" CREATE TABLE IF NOT EXISTS customers (
        first_name DATATYPE,
        last_name DATATYPE,
        email DATATYPE)
""")

In [ ]:
conn.commit()
conn.close()

Another valid way to write this code is as follows (using a single line):

c.execute("CREATE TABLE customers (first_name DATATYPE, last_name DATATYPE, email DATATYPE)")

In [ ]:
# putting this all together
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
conn = sqlite3.connect('customers.db')
# create a cursor
c = conn.cursor()
c.execute(""" CREATE TABLE IF NOT EXISTS customers (
        first_name DATATYPE,
        last_name DATATYPE,
        email DATATYPE)
""")
conn.commit()
conn.close()

In [ ]:
## Data Types in SQLite
# NULL
# INTEGER
# REAL
# TEXT
# BLOB

Changing the 'DATATYPE' to 'text' as follows:

In [ ]:
# putting this all together
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
conn = sqlite3.connect('customers.db')
# create a cursor
c = conn.cursor()
c.execute(""" CREATE TABLE customers (
        first_name TEXT,
        last_name TEXT,
        email TEXT)
""")
conn.commit()
conn.close()

## Insert One Record at a Time

In [ ]:
# putting this all together
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
conn = sqlite3.connect('customers.db')
# create a cursor
c = conn.cursor()

# Insert one record into the table
c.execute(""" CREATE TABLE IF NOT EXISTS customers (
        first_name TEXT,
        last_name TEXT,
        email TEXT)
""")

c.execute("INSERT INTO customers VALUES ('John', 'Elder', 'john@codemy.com')")
print("Command executed successfully...")

# commit our connection command
conn.commit()
# close our connection
conn.close()

Open bash and navigate to the location of this file using 'cd' command. Then, save and run the python file 'sqlite_connection.py' in bash.

In [ ]:
!curl python slqite_connection.py

You should see the 'Command executed successfully...' output.

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# add another entry to our database:
c.execute("INSERT INTO customers VALUES ('Tim', 'Smith', 'tim@codemy.com')")

# commit our connection command
conn.commit()

# close our connection
conn.close()

Save this file and run it in the bash again!

In [ ]:
!curl python slqite_connection.py

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# add another entry to our database:
c.execute("INSERT INTO customers VALUES ('Mary', 'Brown', 'mary@codemy.com')")

# commit our connection command
conn.commit()

# close our connection
conn.close()

Save this file and run it in the bash!

## Insert Many Records Into the Table

In [ ]:
# insert many records into the table
many_customers = [
                    ('Wes','Brown','wes@brown.com'),
                    ('Steph','Kuewa','steph@kuewa.com'),
                    ('Dan','Pas','dan@pas.com')
                ]

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# add many entries to our database using placeholders
c.executemany("INSERT INTO customers VALUES (?,?,?)", many_customers)

# commit our connection command
conn.commit()

# close our connection
conn.close()

## Query and Fetchall

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
# print(c.fetchone())
# print(c.fetchmany(3))
print(c.fetchall())

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Save and run in bash or command prompt again! Try fetching just a single record this time.

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
print(c.fetchone())
# print(c.fetchmany(3))
# print(c.fetchall())

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Save and Run!

Because fetchone() returns a Tuple, different elements can be accessed via slicing (for example let's look at the first element).

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
print(c.fetchone()[0])
# print(c.fetchmany(3))
# print(c.fetchall())

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Save and Run!

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()
print(items)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Save and Run!

Alternatively, you could create a loop:

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()

for item in items:
    print(item)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Save and Run!

This should output a Tuple, but the data is slowly becoming more readable now. Suppose we just wanted to print out element zero inside the Tuple.

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()

for item in items:
    print(item[0])

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Save and Run!

What about if we want to concatenate other columns?

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()

for item in items:
    print(item[0] + " " + item[1] + " " + item[2])

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Save and Run!

You could add a Pipe Delimiter for example.

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()

for item in items:
    print(item[0] + " " + item[1] + " | " + item[2])

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Save and Run!

What about Tab Delimiting?

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()

for item in items:
    print(item[0] + " " + item[1] + "\t" + item[2])

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Save and Run!

Modifying this slightly to give:

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()

print("NAME " + "\t\tEMAIL")
print("--------" + "\t\t--------")
for item in items:
    print(item[0] + " " + item[1] + "\t\t" + item[2])

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
# print(c.fetchone()[0])
print(c.fetchmany(3))

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Save and Run!

This obviously needs some formatting.

## Primary Key ID
This is a unique id number allocated to each record in your database. For example, we've grabbed all records from the customers.db and placed them into a variable called 'items'.

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()
print(items)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Using the 'for' loop to print the records in 'items' will make the output a little more aesthetic. In bash run: 
$ python customers.db

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

SQLite3 creates another column in the background containing the unique primary key id's. They are called a row id and is written in a SQL query as 'rowid'. Now it will print out the id as well.

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT rowid, * FROM customers")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

SQLite3 will auto-increment the rowid or primary key so we don't need to worry about this when setting up our database. We don't have to do any of this for sqlite because it does so automatically, unless you specifically tell it not to auto-increment.

## WHERE Clause
Up until now we've been using a * wildcard and pulling all values from a table. The 'where' clause will enable us to refine the data we query by introducing conditions. For example you may only want people with a certain last name.

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers WHERE last_name = 'Elder'")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

So here I have specified the results query should output the last_name: 'Elder'.

Using our other comparison operators for conditional statements we have the following example:

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers WHERE age >= 21")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Using the LIKE command

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers WHERE last_name LIKE 'Br%'")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

So the '%' sign acts like a wildcard and searches for last names beginning with, or containing the letters 'Br', in this case the two entries of Mary Brown and Wes Brown. What if we wanted to find all entries containing 'codemy.com' in the email address?

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute("SELECT * FROM customers WHERE email LIKE '%codemy.com'")
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

## Update Records

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute(""" UPDATE customers SET first_name = 'Bob' 
WHERE last_name = 'Elder' """)
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

You don't really want to change a record based on last name only as it will change all those records with the same last name. Try changing just the row Id instead.

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute(""" UPDATE customers SET first_name = 'John' 
WHERE rowid = 1 """)
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

Suppose we wanted to change the entry which says 'Mary Brown' but input the first_name as 'Marty' by mistake and use last_name = 'Brown'. The output will produce all entries with 'Brown' in the last name column and replace the first name with 'Marty'. Weird!

In [ ]:
import sqlite3

# connect to a database
conn = sqlite3.connect('customers.db')

# create a cursor
c = conn.cursor()

# query the database
c.execute(""" UPDATE customers SET first_name = 'Marty' 
WHERE last_name = 'Brown' """)
# print(c.fetchone()[0])
# print(c.fetchmany(3))

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# commit our command
conn.commit()

# close our connection
conn.close()

## Delete Records

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Delete Records
c.execute("DELETE from customers WHERE rowid = 6")

# Commit our Command
conn.commit()

# Query the Database
c.execute("SELECT rowid, * FROM customers")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

## Order By
Currently we're returning records in order (by default), but what if we decide to order them by any other column or field, we can do so. If we ORDER BY rowid there won't be any change because each record will be returned in ascending order.

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers ORDER BY rowid")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

## ASC and DESC
You could return records using the ASC or DESC commands. By default they're returned in ascending order by id (so you don't have to be explicit by writing ASC), but what if you wanted them returned in descending order?

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

You could ORDER BY last_name which would return records alphabetically.

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers ORDER BY last_name")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

Or last name in descending order. This will be the opposite order to the above output.

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers ORDER BY last_name DESC")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

## AND / OR Operations
So these commands are part of conditional statements and operations (Conjunctive Operators) and rely on two conditions being met individually or together. They are called Boolean Operators. 

They allow us to extend the functionality of the WHERE clause, for example WHERE a certain condition is met we would like to include a more accurate definition or subset of data using the AND / OR commands. We could say we are adding more conditions to our work! The AND operator allows the existence of multiple conditions in a SQL statements WHERE clause.

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'Br%'")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

So this will return the Mary Brown and Wes Brown entries but suppose we only want it to return Mary Brown. Setting the LIKE along with the AND conditions mean that both have to be True in order to return these records.

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'Br%' AND rowid = 3")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

What if we use OR instead?

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'Br%' OR rowid = 3")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

This time it will return two results. AND means both conditions must be satisfied whereas OR means either or condition must be satisfied. The OR operator seems to cast a wider net than the AND operator.

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'Br%' OR rowid = 3")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

## LIMIT Results
Limiting the results enables you to return only a certain number of records or lines of data.

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers LIMIT 2")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

So the results are limited to only 2 records in the output. How about organizing them by descending values according to rowid? This should provide row id's 5 and 4 as the only entries we're returning.

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC LIMIT 2")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

And try limiting the results by 3 records this time.

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers LIMIT 3")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

## DROP TABLE
Deleting an entire table means removing it from the database. In the example below we're trying to run a query immediately after dropping the table, but we should get an error message telling us the table does not exist instead.

Remember, the table will need to be re-built or created again if you want to use it.

In [ ]:
import sqlite3

# Connect to Database
conn = sqlite3.connect('customers.db')

# Create a Cursor
c = conn.cursor()

# Drop Table
c.execute("DROP TABLE customers")
conn.commit()

# Query the Database - ORDER BY
c.execute("SELECT rowid, * FROM customers LIMIT 3")

items = c.fetchall()
for item in items:
    print(item)

# print("Command executed successfully...")

# Commit our Command
conn.commit()

# close our connection
conn.close()

## Database App - Show All Function
Designed to split all the commands we've used up until now into different files. Create new files called 'database.py' and 'our_app.py'. The 'database.py' fie will contain the code below. We want to take all of these little functions and be able to call them from another file ('our_app.py'). We'll abstract all the database stuff away and make everything a lot cleaner.

In [ ]:
# In the database.py file import libraries
import sqlite3

# Query the DB and return all records
def show_all():
    # Connect to a Database
    conn = sqlite3.connect('customer.db')
    # Create a Cursor
    c = conn.cursor()
    
    # Query the Database
    c.execute("SELECT rowid, * FROM customers")
    items = c.fetchall()
    
    for item in items:
        print(item)
        
    # print("Command executed successfully...")
    # Commit our Command
    conn.commit()
    # Close our Connection
    conn.close()

In 'our_app.py' file, we can Call this function now. Reference the file name 'database.py' followed by the 'show_all()' function as follows:

In [ ]:
import database

database.show_all()

Go to the terminal and run> python our_app.py - to see if it works!

## Our App - Add a Record Function
So we've created a function to show everything, or all records. Let's now create a function to ADD a record to our database in the 'database.py' file.

In [ ]:
# Add a New Record to the Table
def add_one(first,last,email):
    conn = sqlite3.connect('customer.db')
    c = conn.cursor()
    c.execute("INSERT INTO customers VALUES (?,?,?)", (first, last, email))
    # Commit our Command
    conn.commit()
    # Close our Connection
    conn.close()

The database.py file should have all the following code now:

In [ ]:
# In the database.py file import libraries
import sqlite3

# Query the DB and return all records
def show_all():
    # Connect to a Database
    conn = sqlite3.connect('customer.db')
    # Create a Cursor
    c = conn.cursor()
    
    # Query the Database
    c.execute("SELECT rowid, * FROM customers")
    items = c.fetchall()
    
    for item in items:
        print(item)
        
    # print("Command executed successfully...")
    # Commit our Command
    conn.commit()
    # Close our Connection
    conn.close()
    
# Add a New Record to the Table
def add_one(first,last,email):
    conn = sqlite3.connect('customer.db')
    c = conn.cursor()
    c.execute("INSERT INTO customers VALUES (?,?,?)", (first, last, email))
    # Commit our Command
    conn.commit()
    # Close our Connection
    conn.close()

In [ ]:
import database

# add a record to the database
database.add_one("Laura","Smith","laura@smith.com")

# show all the records
database.show_all()

In [ ]:
# engine = create_engine('sqlite:///:memory:')