# Executing SQL Commands Using Python

The purpose of this tutorial is to demonstrate how to connect to SQLite and run queries using the sqlite3 module in Python. The results can be accessed using either pandas (to manipulate a dataframe) or by opening the desktop version of SQLite and viewing the database created.

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS books(
    id integer PRIMARY KEY,
    title text NOT NULL,
    author text NOT NULL,
    price real);''')

# go to https://sqlitebrowser.org/
# https://docs.python.org/3/library/sqlite3.html

db.commit()
db.close()

An important point to note here is that a database table has to be created first in sqlite3 before Python can be used to convert it to a pandas dataframe.

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

cur.execute('''INSERT INTO books(id, title, author, price)
    VALUES('1','Untold Stories','Alan Bennett','17.49');''')

db.commit()
db.close()

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

# placing more than one entry into our database
book_list = [('2', 'Lucky Jim', 'Kingsley Amis', '4.99'),
             ('3', 'Animal Farm', 'George Orwell', '7.49'),
             ('4', 'Why I Am So Clever', 'Friedrich Nietzsch', '10.99'),
             ('5', 'Life 3.0: Being Human in the Age of Artificial Intelligence', 'Max Tegmark', '20.00')
            ]

cur.executemany('''INSERT INTO books(id, title, author, price)
    VALUES(?,?,?,?)''', book_list)

db.commit()
db.close()

You may need to delete the 'books.db' and start running all these cells from the beginning to get to this point. If you open SQLite and go to 'File -> Open Database', selecting 'books.db' then you should be able to see a table. If not, hit Refresh and you should see it.

It's safe practice to delete the 'book.db' after each cell is run!

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

# placing more than one entry into our database
book_list = [('2', 'Lucky Jim', 'Kingsley Amis', '4.99'),
             ('3', 'Animal Farm', 'George Orwell', '7.49'),
             ('4', 'Why I Am So Clever', 'Friedrich Nietzsch', '10.99'),
             ('5', 'Life 3.0: Being Human in the Age of Artificial Intelligence', 'Max Tegmark', '20.00')
            ]

cur.execute('SELECT * FROM books')
print(cur.fetchall())

db.commit()
db.close()

To return a list of the books in alphabetical order (select everything from books and order them in a particular way by title):

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

# placing more than one entry into our database
book_list = [('2', 'Lucky Jim', 'Kingsley Amis', '4.99'),
             ('3', 'Animal Farm', 'George Orwell', '7.49'),
             ('4', 'Why I Am So Clever', 'Friedrich Nietzsch', '10.99'),
             ('5', 'Life 3.0: Being Human in the Age of Artificial Intelligence', 'Max Tegmark', '20.00')
            ]

cur.execute('SELECT * FROM books ORDER BY title')
print(cur.fetchall())

db.commit()
db.close()

This prints out a list.

To return only a subset of those books which have a Price greater than 10.00

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

cur.execute('SELECT * FROM books WHERE price > 10')

print('**********')
for x in cur.fetchall():
    print(x)
    
db.commit()
db.close()

This prints a list but the 'for' loop prints out a new entry on each line.

Select and return only one particular Column, but without iterating over it.

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

cur.execute('SELECT author FROM books')
print(cur.fetchall())

db.commit()
db.close()

Combining the two queries we get:

In [ ]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

cur.execute('SELECT * FROM books WHERE price > 10')

print('**********')
for x in cur.fetchall():
    print(x)

cur.execute('SELECT author FROM books')
print(cur.fetchall())

db.close()

## Using SQLite3 and Pandas Together
1. Import both libraries
2. Connect to our db
3. Read the contents of our db into a DataFrame
4. The 'read_sql_query()' method reads the data in using a SQL Query, not a URL like 'read_csv' or 'read_json'

In [ ]:
# import the libraries
import sqlite3
import pandas as pd

# create a connection
db = sqlite3.connect('books.db')

# read data from SQL to pandas dataframe
data = pd.read_sql_query('SELECT * FROM books;', db)

# show top 5 rows
print(data.head())

5. To look at our entire dataframe

In [ ]:
# import the libraries
import sqlite3
import pandas as pd

# create a connection
db = sqlite3.connect('books.db')

# read data from SQL to pandas dataframe
data = pd.read_sql_query('SELECT * FROM books;', db)

# show top 5 rows
print(data)

6. Add a new row

In [ ]:
import sqlite3
import pandas as pd

# create a connection
db = sqlite3.connect('books.db')

# read data from SQL to pandas dataframe
data = pd.read_sql_query('SELECT * FROM books;', db)

new_row = {'id':'12','author':'P.G. Wodehouse','title':'Luck of the Bodkins','price':6.49}

data=data.append(new_row, ignore_index=True)

print(data)

data.to_sql('books', db, if_exists='replace', index=False)

7. Open up SQLite, click the 'open a database' tab -> open 'books.db' and click on the 'browse data' tab to see the results of your tabular structured data.