In [8]:
# import the modules
import sqlalchemy
import sqlite3
from sqlalchemy import create_engine
import pandas as pd

In [9]:
# import a csv or excel file from my 'Datasets' folder
data = pd.read_csv('C:/Users/lynst/Documents/Datasets/nyc_taxis.csv')

In [10]:
# create a database engine for file database
file_db = create_engine('sqlite:///C:/Users/lynst/Documents/GitHub/machine-learning-projects/data-engineering/test.db')

In [11]:
# load the imported CSV into your database
data.to_sql('nyc_taxis_table', file_db)

ValueError: Table 'nyc_taxis_table' already exists.

View the first 5 entries in the data variable.

In [12]:
data[0:5]

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1,1,74,168,1,1.20,6.0,0.5,0.5,0.00,0.0,0.3,7.30,2,1,0.0
1,2,1,116,265,2,13.69,42.0,0.5,0.5,0.00,0.0,0.3,43.30,2,1,0.0
2,2,1,97,33,1,0.95,6.5,0.5,0.5,2.34,0.0,0.3,10.14,1,1,0.0
3,2,1,74,42,1,1.24,6.5,0.5,0.5,0.00,0.0,0.3,7.80,2,1,0.0
4,2,1,42,244,1,1.10,7.0,0.5,0.5,0.00,0.0,0.3,8.30,2,1,0.0

In [14]:
sql_query = """
SELECT * FROM data.VendorID, data.fare_amount;
"""