In [1]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS books(
    id integer PRIMARY KEY,
    title text NOT NULL,
    author text NOT NULL,
    price real);''')

# go to https://sqlitebrowser.org/
# https://docs.python.org/3/library/sqlite3.html

db.commit()
db.close()

In [2]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

cur.execute('''INSERT INTO books(id, title, author, price)
    VALUES('1','Untold Stories','Alan Bennett','17.49');''')

db.commit()
db.close()

In [6]:
# to work with sqlite we need to import sqlite3 from standard library
import sqlite3

# If we don't have a db this will create one. If we do, this will just connect to the db.
db = sqlite3.connect('books.db')

cur = db.cursor()

# placing more than one entry into our database
book_list = [('2', 'Lucky Jim', 'Kingsley Amis', '4.99'),
             ('3', 'Animal Farm', 'George Orwell', '7.49'),
             ('4', 'Why I Am So Clever', 'Friedrich Nietzsch', '10.99'),
             ('5', 'Life 3.0: Being Human in the Age of Artificial Intelligence', 'Max Tegmark', '20.00')
            ]

cur.executemany('''INSERT INTO books(id, title, author, price)
    VALUES(?,?,?,?)''', book_list)

db.commit()
db.close()

OperationalError: no such table: books