# K-Means Clustering
An example of how to use Unsupervised learning.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_curve, precision_recall_curve
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
titanic = pd.read_csv('C:/Users/lynst/Documents/GitHub/machine-learning-projects/supervised-learning/regression/logistic-regression/titanic.csv',
                     header=0,
                     names = ['PassengerId','Survived','Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin',
                              'Embarked','WikiId','Name_wiki','Age_wiki','Hometown','Boarded','Destination','Lifeboat','Body',
                              'Class'])
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US",Cherbourg,"New York, New York, US",4,NaN,1.0
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,865.0,"Heikkinen, Miss Laina",26.0,"Jyväskylä, Finland",Southampton,New York City,14?,NaN,3.0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,127.0,"Futrelle, Mrs. Lily May (née Peel)",35.0,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",D,NaN,1.0
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,627.0,"Allen, Mr. William Henry",35.0,"Birmingham, West Midlands, England",Southampton,New York City,NaN,NaN,3.0

In [4]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

transformer = make_column_transformer(
    (OneHotEncoder(), ['Boarded', 'Sex']),
    remainder='passthrough')

transformed = transformer.fit_transform(titanic)
updated_titanic = pd.DataFrame(transformed, columns=transformer.get_feature_names_out())
updated_titanic.head()

,onehotencoder__Boarded_Belfast,onehotencoder__Boarded_Cherbourg,onehotencoder__Boarded_Queenstown,onehotencoder__Boarded_Southampton,onehotencoder__Boarded_nan,onehotencoder__Sex_female,onehotencoder__Sex_male,remainder__PassengerId,remainder__Survived,remainder__Pclass,...,remainder__Cabin,remainder__Embarked,remainder__WikiId,remainder__Name_wiki,remainder__Age_wiki,remainder__Hometown,remainder__Destination,remainder__Lifeboat,remainder__Body,remainder__Class
0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1,0.0,3,...,NaN,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England","Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2,1.0,1,...,C85,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US","New York, New York, US",4,NaN,1.0
2,0.0,0.0,0.0,1.0,0.0,1.0,0.0,3,1.0,3,...,NaN,S,865.0,"Heikkinen, Miss Laina",26.0,"Jyväskylä, Finland",New York City,14?,NaN,3.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,4,1.0,1,...,C123,S,127.0,"Futrelle, Mrs. Lily May (née Peel)",35.0,"Scituate, Massachusetts, US","Scituate, Massachusetts, US",D,NaN,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,5,0.0,3,...,NaN,S,627.0,"Allen, Mr. William Henry",35.0,"Birmingham, West Midlands, England",New York City,NaN,NaN,3.0

In [ ]:
updated_titanic = pd.DataFrame.rename(updated_titanic, columns={'onehotencoder__Boarded_Belfast':'Boarded_Belfast',
                            'onehotencoder__Boarded_Cherbourg':'Boarded_Cherbourg',
                            'onehotencoder__Boarded_Queenstown':'Boarded_Queenstown',
                            'onehotencoder__Boarded_Southampton':'Boarded_Southampton',
                            'onehotencoder__Sex_0':'Female',
                            'onehotencoder__Sex_1':'Male',
                            'remainder__Survived':'Survived',
                            'remainder__Pclass':'Pclass',
                            'remainder__SibSp':'SibSp',
                            'remainder__Parch':'Parch',
                            'remainder__Cabin':'Cabin',
                            'remainder__Age_wiki':'Age_wiki',
                            'remainder__Fare':'Fare'})

### Unlabeled Dataset
Repeating this train-test-split but using the unlabeled values in the dataset, from index location 892 to 1304.

In [8]:
# removing the 'Survived' column from the predictors DataFrame variable X
X_train = updated_titanic.drop(updated_titanic['Survived'], axis=1)
X_train = updated_titanic.iloc[0:889]
# assigning this dropped column to the target Series variable y
y_train = updated_titanic['Survived']
y_train = y_train.iloc[0:889]
# assigning the test set
test_df = updated_titanic.drop(updated_titanic['Survived'], axis=1).copy()
X_test = test_df.iloc[890:1304]

KeyError: 'Survived'

X_train isn't dropping 'Survived' for some reason!!!

In [ ]:
# find the shape of each set
X_train.shape, y_train.shape, X_test.shape

In [ ]:
X_train.tail()

In [ ]:
y_train.tail()

In [ ]:
X_test.tail()

Check the respective length of the different sets.

In [ ]:
#remove rows with any values that are not finite
X_test = X_test[np.isfinite(test_df).all(1)]

#view updated DataFrame
X_test

Train and fit the model again.